<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <!--    _    ___  ____    _    ____    _  _____
       / \  / _ \|  _ \  / \  / ___|  / \|_   _|
      / _ \| | | | | | |/ _ \| |     / _ \ | |
     / ___ \ |_| | |_| / ___ \ |___ / ___ \| |
    /_/   \_\___/|____/_/   \_\____/_/   \_\_|
                                            -->
    <script th:src="@{https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js}" type="text/javascript"></script>
    <link rel="stylesheet" th:href="@{https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{.css}">
    <meta charset="UTF-8"/>
    <title>Aodacat Home</title>
</head>
<body>
<ul>
    <li><a href="#home">Aodacat's Blog</a></li>
    <li><a class="active" href="#home">Homepage</a></li>
    <li><a href="#news">Articles</a></li>
    <li><a href="#contact">Contact</a></li>
    <li><a href="#about">About</a></li>
    <li><a href="#search">Search</a></li>
</ul>
<div style="background-color:silver;height: 4000px;margin-top: 60px;">
    <form role="form" action="#" th:action="@{/home}" th:object="${basicService}" method="post">
        <input type="text"  th:field="*{name}" id="name">
        <input type="text" th:field="*{context}" id="context">
        <button type="submit" class="btn btn-primary" id="btn">Submit</button>
    </form>
</div>
</body>
</html>