<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <form style="margin:0 auto;width: 50%;text-align: center" role="form" action="#" th:object="${userService}"
          method="post">
        <label for="name"></label><input class="input" type="text" th:field="*{userName}" id="name"
                                         placeholder="username:"
                                         style="border-top-left-radius: 10px;border-top-right-radius: 10px"/>
        <button type="submit" class="btn btn-block myBTN" id="btn">
            Comment
        </button>
        <label for="content"></label><input class="input" th:field="*{passwordMD5}" id="content" placeholder="context:"
                                            style="border-bottom-left-radius: 10px;border-bottom-right-radius: 10px"/>

    </form>
</div>
</body>
</html>